<div class="container p-1 mb-5 mt-5">
    <div class="row">
        <div class="col-md-12 mx-auto">

            <div class="card w-100">
                <div class="card-body">
                    <div class="container p-4">
                        <div class="text-center">
                            <h3>Datos de {{pacientes.PRIMERNOMBRE}} {{pacientes.SEGUNDONOMBRE}}
                                {{pacientes.APELLIDOPATERNO}} {{pacientes.APELLIDOMATERNO}}</h3>
                            <div class="row g-2">
                                <div class="col-md mb-3">
                                    <div class="form-group p-3">
                                        <a class="btn btn-secondary btn-block w-100" href="/citas/NuevaCita">
                                            Nueva cita
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group p-3">
                                        <a class="btn btn-secondary btn-block w-100"
                                            href="/seguimientos/{{pacientes.CEDULA}}">
                                            Nuevo seguimiento
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <div class="form-group p-3">
                                        <a class="btn btn-secondary btn-block w-100"
                                            href="/evaluaciones/evaluacionesPaciente/{{pacientes.CEDULA}}">
                                            Ver evaluaciones
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <div class="form-group p-3">
                                        <a class="btn btn-secondary btn-block w-100"
                                            href="/evaluaciones/NuevaEvaluacion/{{pacientes.CEDULA}}">
                                            Nueva evaluación
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#each seguimiento}}
                        <div class="card mb-3 text-center">
                            <div class="card-header">
                                Seguimiento hecho el: {{FECHA}}
                            </div>
                            <div class="card-body">


                                <div class="row g-2">
                                    <div class="col-md mb-3">
                                        <h5 class="card-title">Indicaciones</h5>
                                        <p class="card-text">{{TAREAPACIENTE}}
                                        </p>
                                    </div>
                                    <div class="col-md">
                                        <h5 class="card-title">Actividades</h5>
                                        <p class="card-text">{{ACTIVIDADES}}
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group text-center mb-3">
                                    <label for="staticEmail" class=""> Proxima Cita: {{PROXIMACITA}}
                                    </label>
                                </div>

                                <div class="">
                                    <a class="btn btn-danger" href="/seguimientos/borrar/{{ID}}">
                                        Borrar datos
                                    </a>
                                    <a class="btn btn-secondary" href="/seguimientos/verSeguimiento/{{ID}}">
                                        Ver datos
                                    </a>
                                </div>

                            </div>
                        </div>
                        {{else}}
                        <div class="text-center">
                            <p class="text-muted mt-2">
                                Actualmente no se han realizado evaluaciones al paciente.
                            </p>
                        </div>

                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>







<style>
    body {
        /*background-image: url(https://www.universidades.com.ec/img/article/que-cantidad-de-psicologos-hay-en-ecuador);*/
        background-color: #6495ed;
        /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
        background-position: center center;

        /* Esta imagen no debe de repetirse */
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }