<div class="container p-1 mb-5 mt-5">
    <div class="row">
        <div class="col-md-12 mx-auto">

            <div class="card w-100">
                <div class="card-body">
                    <div class="container p-4">
                        <div class="col-2 p-2">
                            <a href="/pacientes" type="button" class="btn btn-warning"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
                                </svg> Regresar</a>
                        </div>
                        <div class="text-center">
                            <h3>Datos de {{pacientes.PRIMERNOMBRE}} {{pacientes.SEGUNDONOMBRE}}
                                {{pacientes.APELLIDOPATERNO}} {{pacientes.APELLIDOMATERNO}}</h3>
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-group p-3">
                                        <a class="btn btn-secondary btn-block w-100"
                                            href="/pacientes/editar/{{pacientes.CEDULA}}">
                                            Ver historia clínica
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <div class="form-group p-3">

                                        <a class="btn btn-secondary btn-block w-100"
                                            href="/citas/agendarCita/{{pacientes.CEDULA}}">
                                            Nueva cita
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-group p-3">
                                        <a class="btn btn-secondary btn-block w-100"
                                            href="/seguimientos/{{pacientes.CEDULA}}">
                                            Nuevo seguimiento
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <div class="form-group p-3">
                                        <a class="btn btn-secondary btn-block w-100"
                                            href="/evaluaciones/evaluacionesPaciente/{{pacientes.CEDULA}}">
                                            Ver evaluaciones
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 mb-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <textarea name="motivo" class="form-control" placeholder="Motivo de la terapia"
                                        id="floatingTextarea2" style="height: 100px"
                                        readonly> {{datos.MOTIVO}}</textarea>
                                    <label for="floatingTextarea2">Motivo</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <textarea name="historiaEnfermedad" class="form-control"
                                        placeholder="Historia de la enfermedad" id="floatingTextarea2"
                                        style="height: 100px" readonly> {{datos.HISTORIAENFERMEDAD}} </textarea>
                                    <label for="floatingTextarea2">Historia de enfermedad</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 mb-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <textarea name="diagnostico" class="form-control" placeholder="Motivo de la terapia"
                                        id="floatingTextarea2" style="height: 100px"
                                        readonly> {{datos.DIAGNOSTICO}}</textarea>
                                    <label for="floatingTextarea2"> Diagnóstico </label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <textarea name="plan" class="form-control" placeholder="Historia de la enfermedad"
                                        id="floatingTextarea2" style="height: 100px"
                                        readonly> {{datos.PLANES}} </textarea>
                                    <label for="floatingTextarea2"> Plan </label>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <h3>Seguimientos </h3>
                        </div>

                        <br>

                        {{#each seguimiento}}
                        <div class="card mb-3 text-center">
                            <div class="card-header">
                                Seguimiento hecho el: {{FECHA}}
                            </div>
                            <div class="card-body">


                                <div class="row g-2">
                                    <div class="col-md mb-3">
                                        <h5 class="card-title">Indicaciones</h5>
                                        <p class="card-text">{{TAREAPACIENTE}}
                                        </p>
                                    </div>
                                    <div class="col-md">
                                        <h5 class="card-title">Actividades</h5>
                                        <p class="card-text">{{ACTIVIDADES}}
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group text-center mb-3">
                                    <label for="staticEmail" class=""> Proxima Cita: {{PROXIMACITA}}
                                    </label>
                                </div>

                                <div class="">
                                    <a class="btn btn-danger" href="/seguimientos/borrar/{{ID}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </a>
                                    <a class="btn btn-secondary" href="/seguimientos/verSeguimiento/{{ID}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                            <path
                                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>
                        {{else}}
                        <div class="text-center">
                            <p class="text-muted mt-2">
                                Actualmente no se han realizado sesiones con el paciente.
                            </p>
                        </div>

                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>







<style>
    body {
        /*background-image: url(https://www.universidades.com.ec/img/article/que-cantidad-de-psicologos-hay-en-ecuador);*/
        background-color: #6495ed;
        /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
        background-position: center center;

        /* Esta imagen no debe de repetirse */
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }