<div class="container p-1 mt-3">
    <div class="row">
        <div class="col-md-12 mx-auto">

            <div class="card w-100">
                <div class="card-body">
                    <div class="container p-4">
                        <h2 class="title text-center">
                            Editar datos de {{paciente.PRIMERNOMBRE}} {{paciente.APELLIDOPATERNO}}
                        </h2>
                    </div>
                    <form action="/pacientes/editar/{{paciente.CEDULA}}" method="POST">
                        {{! esta es la seccion de datos del paciente}}

                        <h2 class="text-center">
                            Datos Generales
                        </h2>

                        
                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <input type="text" value="{{paciente.APELLIDOPATERNO}}" name="apellidoPaterno" class="form-control"
                                        placeholder="Apellido Paterno" required>
                                    <label for="floatingInput">Apellido Paterno</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <input type="text" value="{{paciente.APELLIDOMATERNO}}" name="apellidoMaterno" class="form-control"
                                        placeholder="Apellido Materno" required>
                                    <label for="floatingInput">Apellido Materno</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <input type="text" value="{{paciente.PRIMERNOMBRE}}" name="primerNombre" class="form-control"
                                        placeholder="Primer Nombre" required>
                                    <label for="floatingInput">Primer Nombre</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <input type="text" value="{{paciente.SEGUNDONOMBRE}}" name="segundoNombre" class="form-control"
                                        placeholder="Segundo Nombre">
                                    <label for="floatingInput">Segundo Nombre</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <input type="date" value="{{paciente.FECHANACIMIENTO}}" name="fechaNacimiento" class="form-control" required>
                                    <label for="floatingInput">Fecha de nacimiento</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <select name="genero" value="{{paciente.GENERO}}" class="form-select" id="floatingSelect"
                                        aria-label="Floating label select example">
                                        <option value="Masculino" selected>Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="LGBT">LGBT</option>
                                    </select>
                                    <label for="floatingSelect">Género</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <select name="estadoCivil"  value="{{paciente.ESTADOCIVIL}}" class="form-select" id="floatingSelect"
                                        aria-label="Floating label select example">
                                        <option value="Soltero" selected>Soltero</option>
                                        <option value="Casado">Casado</option>
                                        <option value="Divorciado">Divorciado</option>
                                        <option value="Viudo">Viudo</option>
                                        <option value="Union Libre">Union Libre</option>
                                    </select>
                                    <label for="floatingSelect">Estado Civil</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <input type="text" name="ocupacion"  value="{{paciente.OCUPACION}}" class="form-control" placeholder="Ocupación">
                                    <label for="floatingSelect">Ocupación</label>
                                </div>
                            </div>
                        </div>



                        <div class="form-floating mb-3">
                            <input type="text" name="religion"  value="{{paciente.RELIGION}}" class="form-control" placeholder="Religión">
                            <label for="floatingSelect">Religión</label>
                        </div>

                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <input type="text" value="{{paciente.CORREO}}" name="correo" class="form-control"
                                        placeholder="Primer Nombre" required>
                                    <label for="floatingInput">Correo</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <input type="text" value="{{paciente.TELEFONO}}" name="telefono" class="form-control"
                                        placeholder="Telefono">
                                    <label for="floatingInput">Telefono</label>
                                </div>
                            </div>
                        </div>

                        {{! esta es la seccion de historia clinica}}

                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <textarea name="motivo" class="form-control" placeholder="Motivo de la terapia"
                                        id="floatingTextarea2" style="height: 100px"> {{paciente.MOTIVO}} </textarea>
                                    <label for="floatingTextarea2">Motivo</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <textarea name="historiaEnfermedad"  class="form-control"
                                        placeholder="Historia de la enfermedad" id="floatingTextarea2"
                                        style="height: 100px"> {{paciente.HISTORIAENFERMEDAD}} </textarea>
                                    <label for="floatingTextarea2">Historia de enfermedad</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <textarea name="anamnesis" class="form-control" placeholder="Anamnesis"
                                        id="floatingTextarea2" style="height: 100px"> {{paciente.ANAMNESIS}}</textarea>
                                    <label for="floatingTextarea2">Anamnesis</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <textarea name="historiaLaboral" class="form-control" placeholder="Anamnesis"
                                        id="floatingTextarea2" style="height: 100px"> {{paciente.HISTORIALABORAL}} </textarea>
                                    <label for="floatingTextarea2">Historia Laboral</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <textarea name="historiaSocial" class="form-control" placeholder="Anamnesis"
                                        id="floatingTextarea2" style="height: 100px"> {{paciente.HISTORIASOCIAL}} </textarea>
                                    <label for="floatingTextarea2">Historia Social</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <textarea name="grupoFamiliarOrigen" class="form-control" placeholder="Anamnesis"
                                        id="floatingTextarea2" style="height: 100px"> {{paciente.GRUPOFAMILIARORIGEN}} </textarea>
                                    <label for="floatingTextarea2">Grupo familiar de origen</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-floating mb-3">
                                    <textarea name="grupoFamiliarPropio" class="form-control" placeholder="Anamnesis"
                                        id="floatingTextarea2" style="height: 100px"> {{paciente.GRUPOFAMILIARPROPIO}} </textarea>
                                    <label for="floatingTextarea2">Grupo familiar propio</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating mb-3">
                                    <textarea name="funcionesPsiquicas" class="form-control" placeholder="Anamnesis"
                                        id="floatingTextarea2" style="height: 100px"> {{paciente.FUNCIONESPSIQUICAS}} </textarea>
                                    <label for="floatingTextarea2">Funciones Psíquicas</label>
                                </div>
                            </div>
                        </div>


                        <div class="form-floating mb-3">
                            <textarea name="diagnostico" class="form-control" placeholder="Anamnesis"
                                id="floatingTextarea2" style="height: 100px"> {{paciente.DIAGNOSTICO}} </textarea>
                            <label for="floatingTextarea2">Diagnóstico</label>
                        </div>


                        <div class="form-floating mb-3">
                            <input type="text" value="{{paciente.PLAN}}" name="plan" class="form-control" placeholder="plan">
                            <label for="floatingInput">Plan</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select name="referencia" value="{{paciente.REFERENCIA}}" class="form-select" id="floatingSelect"
                                aria-label="Floating label select example">
                                <option value="Sesiones" selected>Sesiones</option>
                                <option value="Fisioterapia">Fisioterapia</option>
                                <option value="Med. Especialidad">Med. Especialidad</option>
                                <option value="Laboratorio">Laboratorio</option>
                            </select>
                            <label for="floatingSelect">Referencia</label>
                        </div>


                        {{!boton XDXDXDXD}}

                        <div class="row g-2">
                            <div class="col-md mb-3">
                                <div class="form-group p-3">
                                    <a class="btn btn-warning btn-block w-100" href="/pacientes">
                                        Regresar
                                    </a>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group p-3">
                                    <button class="btn btn-success btn-block w-100">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
  body {
    /*background-image: url(https://www.universidades.com.ec/img/article/que-cantidad-de-psicologos-hay-en-ecuador);*/
    background-color: #6495ed;
    /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
    background-position: center center;

    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;

    /* COn esta regla fijamos la imagen en la pantalla. */
    background-attachment: fixed;

    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;
  }

  .card {
    border: solid 1px;
    border-radius: 15px;
  }

