<div class="container p-4">
    <div class="row">
        {{#each pacientes}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="#" target="_blank"> <!-- target es para que abra la info en una ventana aparte -->
                        <h4 class="card-title text-uppercase">
                            {{PRIMERNOMBRE}}
                        </h4>
                    </a>
                    <p class="m-2">{{APELLIDOPATERNO}}</p>
                    <p class="m-2">{{CEDULA}}</p>
                    <p class="text-muted">
                        {{tiempo FECHANACIMIENTO}}
                    </p>
                    <a class="btn btn-danger" href="/pacientes/borrar/{{CEDULA}}">
                        Borrar datos
                    </a>
                    <a class="btn btn-secondary" href="/pacientes/editar/{{CEDULA}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No se encuentra pacientes registrados.</p>
                <a href="/pacientes/nuevoPaciente">Empezar</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>