<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card mb-3" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem; height: 100%;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form action="/citas/agendarCita/{{paciente.CEDULA}}" object="" method="POST">

                                    <h2 class="title text-center mb-4">
                                        Nueva Cita
                                    </h2>

                                    <!--
                                    <div class="col-md mb-3">
                                        <div class="form-floating mb-3">
                                            <select name="cedula" class="form-select" id="floatingSelect"
                                                aria-label="Floating label select example">
                                                <option value="0" selected> Elija un paciente... </option>
                                                {{#each pacientes}}
                                                <option value={{CEDULA}}> {{PRIMERNOMBRE}} {{SEGUNDONOMBRE}} {{APELLIDOPATERNO}} {{APELLIDOMATERNO}}</option> </option>
                                                {{else}}
                                                    
                                                {{/each}}
                                            </select>
                                            <label for="floatingSelect">Paciente</label>
                                        </div>
                                    </div>
-->


                                    <div class="contenedor">

                                        <div class="col-md mb-3">
                                            <div class="form-group row mb-2">
                                                <label for="inputPassword" class="col-sm-2 col-form-label">Cédula:
                                                </label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="nombre" value="{{paciente.CEDULA}}"
                                                        class="form-control-plaintext" id="inputPassword" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row mb24">
                                                <label for="inputPassword" class="col-sm-2 col-form-label">Nombre:
                                                </label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="nombre"
                                                        value="{{paciente.PRIMERNOMBRE}} {{paciente.APELLIDOPATERNO}}"
                                                        class="form-control-plaintext" id="inputPassword" readonly>
                                                </div>
                                            </div>

                                            <div class="col-md">
                                                <div class="form-floating mb-3">
                                                    <input type="date" name="fecha" class="form-control"
                                                        placeholder="Fecha de la cita">
                                                    <label for="floatingInput">Fecha</label>
                                                </div>
                                            </div>


                                            <div class="col-md mb-3">
                                                <div class="form-floating mb-3">
                                                    <input type="time" min="16:00:00" max="22:00:00" name="hora"
                                                        class="form-control" placeholder="Hora">
                                                    <label for="floatingSelect">Hora</label>
                                                </div>
                                            </div>

                                            <div class="col-md">
                                                <div class="form-floating">
                                                    <textarea name="observaciones" class="form-control"
                                                        placeholder="Historia de la enfermedad" id="floatingTextarea2"
                                                        style="height: 100px"></textarea>
                                                    <label for="floatingTextarea2">Observaciones</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row g-2">
                                            <div class="col-md">
                                                <div class="form-group p-3">
                                                    <a class="btn btn-warning btn-block w-100" href="/citas">
                                                        Regresar
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="form-group p-3">
                                                    <a class="btn btn-dark btn-block w-100"
                                                        href="/citas/lista/{{paciente.CEDULA}}">
                                                        Ver citas actuales
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md mb-2">
                                            <div class="form-group p-3">
                                                <button class="btn btn-success btn-block w-100">
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    body {
        /*background-image: url(https://www.universidades.com.ec/img/article/que-cantidad-de-psicologos-hay-en-ecuador);*/
        background-color: #6495ed;
        /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
        background-position: center center;

        /* Esta imagen no debe de repetirse */
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }

    img {
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }

    .card {
        border: solid 1px;
        border-radius: 15px;
    }

    .btn {
        width: "100%";
    }

    .contenedor {
        /*display: none;*/
    }

    .contenedor--show {
        /*opacity: 1;
        pointer-events: unset;*/
        /*display: flex;*/
    }