<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card mb-3" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://www.almabelpsicologia.es/uploads/4iZBsaYk/767x0_1139x0/centro-de-psicologia-almabel-mujer-en-cita-psicologica.jpg"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%; width: 100%;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form >

                                    <h2 class="title text-center mb-4">
                                        Datos de la cita de {{cita.PRIMERNOMBRE}} {{cita.APELLIDOPATERNO}}
                                    </h2>

                                    <div class="col-md mb-3">
                                            <label for="floatingSelect">Fecha: {{cita.FECHA}}</label>
                                    </div>


                                    <div class="col-md mb-3">
                                            <label for="floatingSelect">Hora: {{cita.HORA}}</label>
                                    </div>

                                    <div class="col-md">
                                        <div class="form-floating">
                                            <textarea name="observaciones" class="form-control"
                                                placeholder="Historia de la enfermedad" id="floatingTextarea2"
                                                style="height: 100px" readonly> {{cita.OBSERVACIONES}}</textarea>
                                            <label for="floatingTextarea2">Observaciones</label>
                                        </div>
                                    </div>


                                    <div class="row g-2">
                                        <div class="col-md">
                                            <div class="form-group p-3">
                                                <a class="btn btn-warning btn-block w-100" href="/citas">
                                                    Regresar
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md mb-3">
                                            <div class="form-group p-3">
                                                <a class="btn btn-primary btn-block w-100" href="/citas/editarCita/{{cita.IDCITANUEVA}}">
                                                    Reagendar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    body {
        /*background-image: url(https://www.universidades.com.ec/img/article/que-cantidad-de-psicologos-hay-en-ecuador);*/
        background-color: #6495ed;
        /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
        background-position: center center;

        /* Esta imagen no debe de repetirse */
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }

    img {
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }

    .card {
        border: solid 1px;
        border-radius: 15px;
    }