<div class="container">
    <div class="row mt-5">
        {{#each pacientes}}
        <div class="col-md-3">
            <div class="card text-center mb-3">
                <div class="card-body">
                    <a href="/pacientes/editar/{{CEDULA}}" target="_blank">
                        <!-- target es para que abra la info en una ventana aparte -->
                        <h4 class="card-title text-uppercase">
                            {{CEDULA}}
                        </h4>
                    </a>
                    <p class="m-2">{{CEDULA}}</p>
                    <p class="m-2">{{CEDULA}}</p>
                    <p class="text-muted">
                        {{tiempo FECHA}}
                    </p>
                    <a class="btn btn-danger" href="/pacientes/borrar/{{CEDULA}}">
                        Borrar datos
                    </a>
                    <a class="btn btn-secondary" href="/pacientes/editar/{{CEDULA}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No se encuentra evaluaciones registradas.</p>
                <a class="btn btn-warning btn-block w-100" href="/pacientes/nuevoPaciente">
                    Empezar
                    </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<style>
    body {
        /*background-image: url(https://www.universidades.com.ec/img/article/que-cantidad-de-psicologos-hay-en-ecuador);*/
        background-color: #6495ed;
        /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
        background-position: center center;

        /* Esta imagen no debe de repetirse */
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }