<div class="container p-1 mb-5 mt-5">
    <div class="row">
        <div class="col-md-12 mx-auto">

            <div class="card w-100">
                <div class="card-body">
                    <div class="container p-4">
                        <div class="text-center">
                            <h3> Evaluaciones de {{paciente.PRIMERNOMBRE}} {{paciente.SEGUNDONOMBRE}}
                                {{paciente.APELLIDOPATERNO}} {{paciente.APELLIDOMATERNO}}</h3>



                            <div class="row g-2">
                                <div class="col-md mb-3">
                                    <a class="btn btn-warning btn-block w-100"
                                        href="/pacientes/datos/{{paciente.CEDULA}}">
                                        Volver
                                    </a>
                                </div>
                                <div class="col-md">
                                    <a class="btn btn-success btn-block w-100"
                                        href="/evaluaciones/NuevaEvaluacion/{{paciente.CEDULA}}">
                                        Nueva evaluación
                                    </a>
                                </div>
                            </div>

                        </div>
                        {{#each evaluacion}}
                        <div class="card mb-3 text-center">
                            <div class="card-header">
                                {{FECHA}}
                            </div>
                            <div class="card-body">
                                
                                <div class="row g-2">
                                    <div class="col-md mb-3">
                                        <h5 class="card-title">Tecnica</h5>
                                        <p class="card-text">{{TECNICA}}
                                        </p>
                                    </div>
                                    <div class="col-md">
                                        <h5 class="card-title">Resultados</h5>
                                        <p class="card-text">{{RESULTADOS}}
                                        </p>
                                    </div>
                                </div>

                                <a href="/evaluaciones/verEvaluacion/{{ID}}" class="btn btn-secondary"
                                    style="width:30%">Ver</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="text-center">
                            <p class="text-muted mt-2">
                                Actualmente no se han realizado evaluaciones al paciente.
                            </p>
                        </div>

                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    body {
        /*background-image: url(https://www.universidades.com.ec/img/article/que-cantidad-de-psicologos-hay-en-ecuador);*/
        background-color: #6495ed;
        /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
        background-position: center center;

        /* Esta imagen no debe de repetirse */
        background-repeat: no-repeat;

        /* COn esta regla fijamos la imagen en la pantalla. */
        background-attachment: fixed;

        /* La imagen ocupa el 100% y se reescala */
        background-size: cover;
    }

    .card {
        border: solid 1px;
        border-radius: 5px;
        padding: 5px, 5px;
    }